<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class ="contenido"> 
        <h2>Listado de Articulos</h2>
        <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
        <div th:if="${articulos != null and !articulos.empty}">
        <table border="2">
            <thead>
                <tr>
                    <th>Id Artiuclo</th>
                    <th>Id Categoria</th>
                    <th>descripcion</th>
                    <th>Detalle</th>
                    <th>precio</th>
                    <th>existencias</th>
                    <th>activo</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="articulo: ${articulos}">
                    <td th:text= "${articulo.idArticulo}"></td>
                    <td th:text= "${articulo.idCategoria}"></td>
                    <td th:text= "${articulo.descripcion}"></td>
                    <td th:text= "${articulo.detalle}"></td>
                    <td th:text= "${articulo.precio}"></td>
                    <td th:text= "${articulo.existencias}"></td>
                    <td th:text= "${articulo.activo}"></td>
                    <td><a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}"> Eliminar </a> </td>
                    <td><a th:href="@{/articulo/modificar/} + ${articulo.idArticulo}"> Modificar </a> </td>
                    

                    
                     
                    
                </tr>
            </tbody>
        </table>
       </div>
        <div th:if="${articulos == null or articulos.empty}">
                No tenemos lista de articulos no mostrar...
                </div>
            </div>    
        <footer  th:replace="layout/plantilla :: footer"/> 
        </body>
</html>
